<div fxLayout="column" class="add-role-panel"
     fxLayoutAlign="start stretch" fxLayoutGap="1.5rem">

  <div fxLayout="row" fxLayoutAlign="start center"
       class="add-role-inputs" fxLayoutGap="1rem" [formGroup]="addRoleForm">
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <input type="text" matInput formControlName="name" placeholder="نام نقش">
      <mat-error
        [ngClass]="[(addRoleForm.controls['name'].touched && addRoleForm.controls['name'].invalid) ? 'op-1':'op-0']">
        نام نقش اجباری است
      </mat-error>
    </div>
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <input type="text" matInput formControlName="description" placeholder="توضیحات نقش">
      <mat-error
        [ngClass]="[(addRoleForm.controls['description'].touched && addRoleForm.controls['description'].invalid) ? 'op-1':'op-0']">
        توضیحات نقش اجباری است
      </mat-error>
    </div>
    <mat-slide-toggle class="mr-auto pb-3"
                      formControlName="active" color="primary">
      {{addRoleForm.controls['active'].value ? 'فعال' : 'غیرفعال'}}
    </mat-slide-toggle>
  </div>

  <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="1rem">

    <div class="roles-categories" fxFlex="350px"
         fxLayout="column" fxLayoutAlign="start stretch">
      <div class="search-access" fxLayoutGap="5px"
           fxLayout="row" fxLayoutAlign="start center">
        <mat-icon matPrefix>search</mat-icon>
        <input type="text" fxFlex placeholder="جستجوی عنوان دسترسی"
               [(ngModel)]="searchedAction" (ngModelChange)="getActions()">
      </div>
      <app-select-category-tree class="p-relative"
                                [categories]="categories"
                                *ngIf="categories?.length">
      </app-select-category-tree>
    </div>

    <div fxFlex *ngIf="categoryService.newRoleSelectedCategories?.length"
         fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="2rem">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px"
           class="category-accesses" [ngClass]="{'category-opened': category.opened}"
           *ngFor="let category of categoryService.newRoleSelectedCategories">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          {{category.name}}
          <button class="category-toggle-btn"
                  (click)="category.opened = !category.opened">
            <mat-icon>
              expand_more
            </mat-icon>
          </button>
          <div fxFlex class="p-relative">
            <mat-divider></mat-divider>
          </div>
          <mat-radio-group color="primary" (change)="setCategoryAction(category)"
                           [(ngModel)]="category.selectedAccess">
            <mat-radio-button [value]="accessesLevel.publish">دسترسی انتشار</mat-radio-button>
            <mat-radio-button [value]="accessesLevel.edit">دسترسی ویرایش</mat-radio-button>
            <mat-radio-button [value]="accessesLevel.read">دسترسی مشاهده</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="accesses-list" fxLayout="column" [formGroup]="addRoleForm"
             fxLayoutAlign="start stretch">
          <ng-container *ngIf="category.selectedAccess else noAccessSelected">
            <ul *ngIf="category.actions?.length else noAccessFound"
                fxLayout="row wrap"
                fxLayoutAlign="start center" fxLayoutGap="1%">
              <li *ngFor="let access of category.actions"
                  fxFlex="32%" class="mb-2">
                {{access.name}}
              </li>
            </ul>
            <ng-template #noAccessFound>
              <mat-hint>هیچ دسترسی یافت نشد</mat-hint>
            </ng-template>
          </ng-container>
          <ng-template #noAccessSelected>
            <mat-hint>لطفا دسترسی مورد نظر را انتخاب کنید</mat-hint>
          </ng-template>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px"
           class="mt-auto">
        <a mat-stroked-button color="primary" routerLink="/admin">
          بازگشت
        </a>
        <a mat-raised-button color="primary" (click)="submitNewRole()">
          ثبت
        </a>
      </div>
    </div>

  </div>

</div>
